/* header */
.head-bord{
  border-top: 1px solid;border-bottom: 1px solid;
}


.sign {
  margin: 10px 0px;
  height: auto !important; 
  padding-bottom: 80px;
}
.head-title{
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 20px;
  color: #fff;
  text-align: left;
  margin-bottom: 30px;
  padding-left: 10px;
}
.sub-title{
  font-size: 65px;
  margin-top: -11px;
  color: #fff;
  margin-bottom: 0px;
  margin-left: 12px;
}
.headoval{
  width: 60px;
  position: absolute;
  right: -45px;
  z-index: 10;
  top: 24px;
}
.head-icon{
  width: 60px;
  position: absolute;
  right: -100px;
  z-index: 10;
  color: #c62e65;
  top: 39px;
  font-size: 28px;
}
.w-0{
  width: 0px;
}
.font-14{
  font-size: 14px;
}
.font-18{
  font-size: 18px;
}
.font-20{
  font-size: 20px;
}
.font-28{
  font-size: 20px;
}
.font-25{
  font-size: 25px;
}
.font-40{
   font-size: 40px;
}
.border-20{
  border-radius: 20px;padding: 10px;
}
.search-input{
  font-size: 22px;color: #fff;right: 15px;position: absolute;top: 10px;
}
.btn-paii{
  display: flex;padding: 5px 15px;border-radius: 30px;
}
.oau{
  display: flex;padding: 5px 15px;border-radius: 30px;
}
.text-c{
  color: #C62E65;font-size: 25px;
}
.font-25{
  font-size: 25px;
}
.font-10{
  font-size: 10px;
}
.m-b-none{
  width: 100%;background: none;border: none;
}
.car-er{
  padding: 5px;border: 1px solid #fff;
}
.bg-gray-o{
  background-color: #a8a8a8;
}
.v-add{
  margin-bottom: 10px;width: 60%;margin-right: 10px;
}
.v-sa-add{
  margin-bottom: 10px;width: 40%;background-color: #fff;color: #C62E65;
}
.yu-udp{
  padding-left: 10px; margin-bottom: 5px;text-align: left;
}
.img-si{
  background: #2F1921;    padding: 97px;
}
.pmpi-s{
  display: inline-block;width: 93.9%;border-radius: 4px;
}
.car-irl{
  position: absolute;
  right: 7px;
  top: 8px;
}
.sadiu-s{
  font-size: 15px;
  font-weight: 400;
  padding-top: 4px;
  color: #fff;
  margin-right: 8px;
}
.side-title{
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 20px;
  color: #fff;
}
.btn-basic{
  display: flex;
  padding: 5px 15px;
  border-radius: 30px;
}
.ion-iconss{
  font-size: 18px;padding-left: 5px;color: #ffffff;

}
.btn-check{
  display: flex;padding: 5px 15px;border-radius: 30px;background-color: #a8a8a8;
}
.font-18{
 font-size: 18px;
}
.search-outine{
  font-size: 22px; color: #fff;right: 15px;position: absolute; top: 10px;
}
.input-core{
  border-radius: 20px;padding-left: 20px;
}
.h-250{
  height: 250px;
}
.mb-250{
  margin-bottom: 250px;
}
.m20-auto{
  margin: 20px 0;
}
.btn-main{
  color: #C62E65;
  background: none;
  border: 1px solid;
  width: 80%;

}
.bg-gray{
  background: #a8a8a8;
}
.mt-100{
  margin-top:100px
}
.m30-auto{
  margin: 30px 0;
}
.form-text-p{
  padding-left: 26px;  
  margin: 0px;
  font-size: 10px;

}
.btn-paid{
  color: #C62E65;
  background: #fff;
  border: 1px solid;
  width: 80%;
  margin-top:10px;
  margin-bottom: 10px;
}
.ppiYbj{
  padding: 5px 15px;border-radius: 30px;
}
.pl-30{
  padding-left: 30px;
}

.tthometab-title .ttsub-title {
  color: #C62E65;
}

.tthometab-title .tt-title {
  color: #dddddd;
}
.piks{
  height: 100px;font-size: 14px;margin-bottom: 10px;
}


.TTProduct-Tab .nav-tabs>li>a::after {
  background: none;
  border: none;
  outline: none;
}

.TTProduct-Tab .nav-tabs>li.active>a,
.TTProduct-Tab .nav-tabs>li>a:focus {
  color: #ffffff;
  border-bottom: 4px solid #C62E65;
}

.TTProduct-Tab .nav-tabs>li>a:hover {
  color: #ffffff;
}
.site-header__search.icon_btn .search_wrapper,
.site-header__search.icon-btn .search_wrapper,
.myaccount .customer_account,
#slidedown-cart {
    border-top-color: #C62E65;
}

.site-header__search .serach_icon>i,
.myaccount.icon-btn .dropdown-toggle>i,
.header_2 .wrapper-top-cart>.site-header_cart_link::before,
.nav-menu-wrap .menu_toggle_wrap>button,
body.footer_style_1 .footer_toggle #menu,
body.footer_style_1 .footer_toggle #menu::after,
body.footer_style_1 .footer_toggle #menu::before {
    color: #ffffff;
}

.site-header__search .serach_icon:hover>i,
.site-header__search .serach_icon.active>i,
.myaccount .dropdown-toggle:hover>i,
.myaccount .dropdown-toggle.open>i,
.header_2 .wrapper-top-cart>.site-header_cart_link:hover::before,
.header_2 .wrapper-top-cart>.site-header_cart_link.active::before,
.site-header__search.icon_btn .search_wrapper::before,
.site-header__search.icon-btn .search_wrapper::before,
.myaccount .customer_account::before,
.header_2 .site-header__cart #slidedown-cart::after,
.header_2 .site-header__cart #Sticky-slidedown-cart::after,
body.footer_style_1 .footer_toggle:hover #menu::after,
body.footer_style_1 .footer_toggle:hover #menu::before,
body.footer_style_1 .footer_close_toggle #close::before,
body.footer_style_1 .footer_close_toggle #close::after,
body.footer_style_1 .footer_toggle:hover #menu {
    color: #C62E65;
}

.site-header.header_2,
.site-header.header_2 .sticky_header.fixed {
    background: #171717;
}

@media screen and (min-width: 992px) {
    #tt-megamenu .tt-mega_menu .tt_menus_ul>li>a {
        color: #dddddd;
        z-index: 4;
    }
    #tt-megamenu .tt-mega_menu .tt_menus_ul>li:hover>a {
        color: #ffffff;
        z-index: 4;
    }
    .site-header.header_2 #tt-megamenu .tt-mega_menu .tt_menus_ul>li>a::before {
        background-color: #C62E65;
    }
    .site-header.header_2 #tt-megamenu .tt-mega_menu li.tt_menu_item .tt_sub_menu_wrap {
        border-top: 3px solid #C62E65;
    }
}

body:not(.template-index) .site-header.header_2.header_transaparent {
    background: #070707;
}

.foas-e{
  color: #C62E65;font-size: 25px;
}

#shopify-chat {
  display: none;
}
.brand-customer{
color: #fff;font-size: 13px;padding-left: 10px;
}
.iiu-btn{
  color: #C62E65;background: none;border: 1px solid;width: 80%;margin-top: 30px;margin-bottom: 10px;
}
.li-list{
  display: flex;    background: #C62E65;
  color: #fff;
  border: 0;
  padding: 2px 16px;
  border-radius: 30px;
  border-radius: 30px;margin-top: 25px;
}
.font-24{
  font-size: 24px;
}
.upload_im{
  background: #2F1921;
   padding: 97px;
}
.paus{  
  display: inline-block;width: 94%;margin-top: 4px;border-radius: 4px;
}
.btn_ai{
  width: 99%;background: none;border: none;
}

.card-div {
  background: #fff;
  text-align: left;
  border-radius: 4px;
}
.padx-30{
  padding: 0px 30px;
}
.card-div h5 {
  font-size: 24px;
}
.card-div p {
  padding-bottom: 10px;
  font-size: 14px;
}
.card-div {
  margin-right: 20px;
  padding: 20px;
}

.top-title{
  font-size: 40px;
}
.padt-50{
  padding-top:50px
}
.pii-artists h2 {
  font-size: 48px;
  margin-left: -100px;
  position: relative;
}

.mark-artists span {
  font-size: 18px;
  font-weight: 600;
}
.mark-artists small {
  margin-top: 4px;
  font-size: 14px;
}
.product-head-title{
  font-weight: 700;
  font-size: 72px;
}
.pro-set-title{
  position: absolute;
    margin-left: -142px;
    top: 60px;
}
.poau-artist{
  position: absolute;
    width: 63%;
    top: 40px;
    z-index: 1;
}
.artist-list li::before {content: '■'; color: #C62E65;
  display: inline-block; width: 1em;
margin-right: 10px;
  margin-left: 1em}
  .side-img{
    position: absolute;
    right: 0px;
    width: 45%;
    top: 0px;
z-index: 1;
  }
  .artist-set{
    position: relative;
    z-index: 12;
  }

  .artist-text h4{
    font-size: 24px;
    color: #C62E65;
    margin-bottom: 0px;
  }
  .artist-text span{
    font-size: 18px;
    color: #C62E65;
  }
  .artist-text small{
    font-size: 14px;
  }
  .blog-link{
    display: block;
    font-size: 28px;
    font-weight: 700;
  }
  .btn-dark{
    border-radius: 0px;
    color: #C62E65;
    font-size: 14px;
    border: 1px solid #C62E65;
    font-weight: 400;
    padding: 10px;
    width: 300px;
    background: transparent;
  }
  .btn-dark:hover{
    background: #C62E65;
    color:white;
  }

  .bg-dark-g{
    background: #1f1f1f;
  }
  .font-48{
    font-size: 48px;
    font-weight: 700;
  }
  .input-form{
    background: transparent;
    color: white;
    height: 45px;
  }
  .font-16{
    font-size: 16px;
  }
  .footer-list li{
    margin-bottom: 6px;
  }
  .footer-list li a{
    color: white;
    font-size: 18px;
    font-weight: 700;
  }
  .foot-links li a{
    color: white;
  }
  .footer-list li a:hover, .foot-links li a:hover{
    color: #C62E65;

  }
.top-artist{
  width: 46%;
  position: absolute;
  z-index: 1;
  top: 75px;
}
 .just-center{
    display: flex;
    justify-content: end;
    align-items: center;
 }
 .w_50{
   width: 50%;
 }


@media screen and (max-width:480px) {
    .just-center{
      justify-content: center;
    }
    .top-artist {
      width: 100%;
      position: relative;
      z-index: 1;
      top: 0px;
      padding: 0px 15px;
    }
    .top-title {
      font-size: 24px;
    }
    .pii-artists h2 {
      font-size: 30px;
      margin-left: 0px;
      position: relative;
    }

    .product-head-title {
      font-weight: 700;
      font-size: 32px;
    }
    .pro-set-title {
      position: relative;
      margin-left: 0px;
      top: 0px;
    }
    .poau-artist {
      position: relative;
      width: 100%;
      top: 0px;
      z-index: 1;
    }
    .artist-list li span{
      font-size: 14px;
    }
    .artist-list li::before {
      content: '■';
      color: #C62E65;
      display: inline-block;
      width: 14px;
      margin-right: 10px;
      margin-left: 0em;
    }
    .blog-link {
      display: block;
      font-size: 20px;
      font-weight: 700;
    }
    .artist-text h4 {
      font-size: 16px;
    }
    .artist-text span {
      font-size: 14px;  
    }
    .font-48 {
      font-size: 22px;
      font-weight: 700;
    }
    .te-center{
      justify-content: center;
    }




  }